.btn {
	@apply inline-block;
	@apply bg-black;
	@apply border-2;
	@apply border-black;
	@apply text-white;
	@apply py-3;
	@apply px-6;
	@apply outline-none;
	@apply cursor-pointer;
	@apply no-underline;
	@apply rounded-lg;
	@apply whitespace-nowrap;
	@apply tracking-wide;
	@apply relative;
	@apply text-center;
	@apply text-sm;
	@apply max-w-full;
	@apply w-full;
	@apply font-bold;
	@apply uppercase;
	@apply leading-6;

	@screen lg {
		@apply w-auto;
		min-width: 10rem;
	}

	&:hover {
		@apply bg-gray-700;
		@apply border-gray-700;
		@apply text-white;
	}

	&:active,
	&:focus {
		@apply outline-none;
	}

	&:disabled {
		@apply opacity-50;
		@apply cursor-not-allowed;
	}
}

.btn-large {
	@apply py-4 px-8 text-xl;
	line-height: 2rem;
}

.btn-small {
	@apply py-1 px-3 text-xs border;
	min-width: 6rem;
}

.btn-alt {
	@apply bg-blue-500 border-blue-500 text-white shadow-none;

	&:hover {
		@apply bg-blue-700 border-blue-700 text-white;
	}

	&:disabled:hover {
		@apply bg-blue-500 border-blue-500 text-white opacity-50 cursor-not-allowed;
	}
}

.btn-outline {
	@apply bg-transparent border-gray-400 text-gray-900 shadow-none;

	&:hover {
		@apply bg-transparent border-gray-500 text-gray-900;
	}

	&:disabled {
		@apply bg-transparent border-gray-300 text-gray-900 shadow-none opacity-50;
	}
}

.btn-link {
	@apply inline;
	@apply p-0;
	@apply outline-none;
	@apply cursor-pointer;
	@apply underline;
	@apply text-blue-500;
	@apply border-0;
	@apply bg-transparent;
	@apply shadow-none;

	&:hover {
		@apply text-blue-800;
	}

	&:disabled {
		@apply opacity-50;
		@apply cursor-not-allowed;
	}
}
